# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
.env
venv/
ENV/
env.bak/
venv.bak/
*.env

# Ignore personal/local overrides
.env.override

# Ignore test config
.env.test

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
coverage.xml

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs (recursive)
**/*.log
**/*.log.*


# OS metadata
.DS_Store
Thumbs.db
